.menu-toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    z-index: 100;
    transition: opacity, left .3s ease-in;
}

.menu-toggle:hover {
    opacity: .7;
}

.menu-toggle.open {
    left: 320px;
}